a {
  font-family: Arial, Helvetica, sans-serif;
}
.navelement {
  color: white;
}

.navelement:hover {
  color: gold;
  text-decoration: "underline";
}

.tree-red {
  width: 40px;
  height: 40px;
  background-color: #8c0000;
  color: white;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  border: 1px solid gold;
  display: inline-block;
  margin: 5px;
}
.tree-black {
  width: 40px;
  height: 40px;
  background-color: #000000;
  color: white;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  border: 1px solid gold;
  display: inline-block;
  margin: 5px;
}
.tree-none {
  width: 40px;
  height: 40px;
  background-color: #000027;
  color: #000027;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  border: 1px solid #000027;
  display: inline-block;
  margin: 5px;
}
.horizontal-space {
  margin-right: 29.4%;
}
.horizontal-space-second-line {
  margin-right: 12.6%;
}
.horizontal-space-third-line {
  margin-right: 4.5%;
}
.horizontal-space-third-line-fix {
  margin-left: 4%;
}

.table-container {
  text-decoration: bold;
  position: fixed;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  border: 2px solid gold;
  font-weight: bold;
}

.table-container table {
  border-collapse: collapse;
}

.table-container td {
  padding: 15px;
  font-size: 18px;
  border: 1px solid gold;
}

.table-style {
  width: 55%;
  border-collapse: collapse;
}

.table-style td {
  width: 50%;
  padding: 10px;
  border: 1px solid #ffffff;
}

.table-style b {
  color: #ffffff;
}

.react-chatbot-kit-chat-bot-message {
  background-color: #008b8b;
}

.react-chatbot-kit-chat-bot-message-arrow {
  border-right: 8px solid #008b8b;
}

/* chat botton */

.react-chatbot-kit-chat-btn-send {
  background-color: #008b8b;
}